body, h1, h2, h3, h4, h5, h5, p, li {}
h1, h2, h3 {
    color: #333;
    margin: auto;
}
.chart 
{ 
    color: black; 
    min-width: 220px;
    width: 100%;
    max-width: 960px;
}
#grouped-snow-monthly {
    width: 90%;
}
#yearly-snow-1869 rect, #yearly-snow-recent rect {
  fill: #6CC3FF;
}

#yearly-snow-1869 text, #yearly-snow-recent text {
  fill: #666;
  font: 10px sans-serif;
  text-anchor: middle;
}
.axis text {
  text-transform: capitalize; 
  font: 10px sans-serif;
  color: #666;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.hide { display: none; }
body, figure { margin:0; }
p, figcaption { font: 17px/30px "PT Serif",serif; }
