body, h1, h2, h3, h4, h5, h5, p, li {}
h1, h2, h3 {
    color: #333;
    margin: auto;
}
.chart 
{ 
    color: black; 
    min-width: 220px;
    width: 100%;
    max-width: 960px;
}
.chart rect {
  fill: #6CC3FF;
}

.chart text {
  fill: #666;
  font: 10px sans-serif;
  text-anchor: middle;
}
.axis text {
  font: 10px sans-serif;
    color: #666;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.hide { display: none; }
body { margin:0; }
p { font: 17px/30px "PT Serif",serif; }
