.chart 
{ 
    color: black; 
    min-width: 220px;
    width: 100%;
    max-width: 960px;
}
.chart rect {
  fill: #0b235a;
}

.chart text {
  fill: #666;
  font: 10px sans-serif;
  text-anchor: middle;
}
.axis text {
  font: 10px sans-serif;
    color: #666;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
